*.o
*.lo
*.a
*.la
*.pc
.libs/
.deps/
bin/
include/
lib/
share/
Makefile
config.h
config.log
config.status
libtool
pcre-config
pcre.h
pcre_chartables.c
pcre_stringpiece.h
pcrecpparg.h
pcregrep
pcretest
stamp-h1

